<%= render 'post', post: @post %>
<% if @post.user.id == current_user.id or current_user.admin == true %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %> |
    <%= link_to "Edit Post", edit_post_path(@post) %> |
    <%= link_to "Delete Post", post_path(@post), :data => {:confirm => "Are you Sure?", :method => 'delete'} %>
  <% else %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %>
  </div>
  <% end %>
  </div>
